.stock-details {
    background-color: rgb(12, 115, 225);
    border-radius: 5px;
    padding: 1em;
    color: white;
    grid-column: span 6;
    margin-right: .1em;
}

.stock-details>p>span {
    font-weight: bolder;
    letter-spacing: .01em;
    word-spacing: .1em;
    color: black;
}